body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    background-color: #000;
    text-align: center;
}

h1 {
    font-size: 3em;
    text-shadow: 0 0 10px #344afb;
}

p {
    font-size: 1.5em;
    text-shadow: 0 0 5px #344afb;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px #00ff00;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

button:focus {
    background-color: #444;
}
